# Byte-compiled files
__pycache__/
*.pyc

# Distribution
bin/
build/

# Sphinx documentation
docs/.build/

# Compiled files
*.ll
*.s
*.out

# py.test
.cache/

# Test coverage
.coverage
htmlcov/
!.coveragerc
